@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body{
  background: #f8f9fe;
}

.wrapper .side_bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background: #212890;
  padding: 20px 0;
  z-index: 999;
}

.wrapper .side_bar .logo{
  font-family: "Mountains of Christmas", cursive;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(to bottom,#ff9f1d,#ffc30d);
  border-radius: 5px;
  margin: 0 auto 40px;
}

.wrapper .side_bar .menu ul li a{
  display: block;
  text-align: center;
  padding: 15px 20px;
  margin: 5px 0;
  font-size: 16px;
  color: #dcd8ef;
  position: relative;
}

.wrapper .side_bar .menu ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  right: 77px;
  width: 100%;
  height: 100%;
  border-right: 3px solid #ffd20b;
  border-radius: 5px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.wrapper .side_bar .menu ul li a:hover:before,
.wrapper .side_bar .menu ul li a.active:before{
  opacity: 1;
}

.wrapper .side_bar .menu ul li a .icon{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  background: linear-gradient(to bottom,#4f51a4, #7f7dc6);
}

.social_share{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to top,#ff9f1d,#ffc30d);
  width: 50px;
  height: 50px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.wrapper .side_bar .icons{
  position: absolute;
  bottom: 20px;
  left: 85px;
  width: 245px;
  height: 50px;
  background: #212890;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

.wrapper .side_bar .icons.active{
  display: block;
}

.wrapper .side_bar .icons ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .side_bar .icons ul li{
  width: 30px;
  height: 30px;
  line-height: 35px;
  background: #ffd20b;
  text-align: center;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 50%;
}

.wrapper .side_bar .icons ul li a{
  color: #fff;
}

.wrapper .main_container{
  padding: 20px;
  margin-left: 80px;
}

.wrapper .main_container .content{
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,0.125);
  line-height: 20px;
}

.wrapper .main_container .title{
  font-family: "Mountains of Christmas", cursive;
  margin-bottom: 20px;
  background: #212890;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 30px;
}